body
{
    background-color: rgb(200, 25, 50);
    margin: 8px 8px 8px 8px; 
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.Author
{
	text-align: center;
        background-color: black;
        color: white;
}

.Naglowek
{
	
    text-align: center;
    font-size: 50px;
    color: rgb(245, 125, 10);
}

.Naglowek img
{
    width: 840px;
    height: 480px;
}

.Opis
{
    text-align: center;
}

.Oryginalny
{
    text-align: center;
}

.Składniki
{
    text-align: center;
}

.Składniki li
{
    font-size: 20px;
    color:rgb(255, 255, 255)
}
.Sos
{
    text-align: center;
	color: rgb(245, 125, 10);
    
}

.Sos li
{
    font-size: 20px;
    color:rgb(255, 255, 255)
}

.Fotka
{
    text-align: center;
}
.Fotka img
{
     width: 620px;
    height: 360px;
}
.Przepis
{
   color: rgb(245, 125, 10);
}
.Przepis table
{
    width: 1400px;
    height: 450px;
    font-size: 25px;
    color: rgb(30, 50, 175);
    background-color: white;
    border: 3px solid black;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    
}
.Przepis th
{
    border: 2px solid black;
}

.Przepis td
{
    font-size: 15px;
    border: 2px solid black;
}

.Bibliografia
{
   background-color:black;
   color:white;
   font-size: 35px;
   text-align: center;
   margin-bottom: 16px;
}

.Bibliografia a
{
    color:blue;
    font-size: 20px;
}

.tytul
{
    font-size: 40px;
    color:rgb(245, 125, 10);
}

.tytul:hover
{
    font-size: 50px;
    color:rgb(30, 50, 175)
}